<% content_for :head do %>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<% end %>

<div class="container">
<div class="row">
<div class="col">

<section>
  <h1>Real Code Runner - Prototype</h1>
  <p>Porototype of
    <ul>
      <li>
        <a href="#graphql-fetch-demo" data-turbolinks=false>
          GraphQL fetch demo
        </a>
      </li>
      <li>
        <a href="#uploading-a-challenge" data-turbolinks=false>
          Uploading a challenge
        </a>
        -
        (<a href="prototype/uploading-a-challenge" data-turbolinks=false>
          <i class="fa fa-object-ungroup"></i>
           separate page
        </a>)
      </li>
      <li>
        <a href="#listing-challenges" data-turbolinks=false>
          Listing challenges
        </a>
      </li>
      <li>
        <a href="#listing-details-around-a-challenge" data-turbolinks=false>
          Listing details around a challenge
        </a>
      </li>
      <li>
        <a href="#uploading-a-submission" data-turbolinks=false>
          Uploading a submission
        </a>
      </li>
      <li>
        <a href="#running-a-submission-against-a-challenge" data-turbolinks=false>
          Running a submission against a challenge
        </a>
      </li>
    </ul>
  </p>
</section>

<hr />

<%= render partial: 'grahql-fetch-demo-section' %>

<hr />

<%= render partial: 'uploading-a-challenge-section' %>

<hr />

<%= render partial: 'listing-challenges-section' %>

<hr />

<%= render partial: 'listing-details-around-a-challenge' %>

<hr />

<%= render partial: 'uploading-a-submission' %>

<hr />

<section style="min-height: 100vh">
<h3><a name="running-a-submission-against-a-challenge">Running a submission against a challenge</a></h3>
</section>
</div>
</div>
</div>
