<% content_for :head do %>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<% end %>

<div class="container">
<div class="row">
<div class="col">
<script type="text/javascript">
  function fetchGraphql(authToken, body, resultElement) {
    fetch(
      "<%= URI(request.protocol + request.host_with_port) + "/graphql" %>", {
      headers: {
        "CONTENT-TYPE": "application/json",
        "AUTHORIZATION": `Token ${authToken}`,
      },
      body: JSON.stringify(body),
      method: "POST",
    }).then(response => {
      if (response.ok) {
        return response;
      } else {
        throw new Error(`Request rejected with status ${response.status}`);
      }
    })
    .then(response => response.json())
    .then(responseJson => {
      resultElement.innerHTML = JSON.stringify(responseJson, null, 2).replace(/</g, "&lt;").replace(/>/g, "&gt;");
    });
  }
</script>

<section>
  <h1>Real Code Runner - Prototype</h1>
  <p>Porototype of
    <ul>
      <li>
        <a href="#uploading-a-challenge" data-turbolinks=false>
          Uploading a challenge
        </a>
      </li>
      <li>
        <a href="#listing-challenges" data-turbolinks=false>
          Listing challenges
        </a>
      </li>
      <li>
        <a href="#listing-details-around-a-challenge" data-turbolinks=false>
          Listing details around a challenge
        </a>
      </li>
      <li>
        <a href="#uploading-a-submission" data-turbolinks=false>
          Uploading a submission
        </a>
      </li>
      <li>
        <a href="#running-a-submission-against-a-challenge" data-turbolinks=false>
          Running a submission against a challenge
        </a>
      </li>
    </ul>
  </p>
</section>

<hr />

<section>
  <h3><a name="uploading-a-challenge">Uploading a challenge</a></h3>

  <div data-widget-type="rcp-UploadChallenge" data-token="<%= @jwt %>"></div>

  <script type="text/javascript">
    const me = document.currentScript;
    const host = "<%= URI(request.protocol + request.host_with_port) %>";
    fetch(`${host}/packs/manifest.json`)
      .then(response => response.json())
      .then(responseJson => {
        const widget = document.createElement("SCRIPT");
        widget.type = "text/javascript";
        widget.src = `${host}${responseJson["widget_app.js"]}`;
        me.parentElement.appendChild(widget);
      });
  </script>

  <div id="accordion" class="mt-3">
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseUploading" aria-expanded="false" aria-controls="collapseTwo">
            Code Sample - javascript widget
          </button>
        </h5>
      </div>
      <div id="collapseUploading" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <pre>
<%=
'
<div class="rcp-upload-challenge-widget" data-token=""></div>

<script type="text/javascript">
  const me = document.currentScript;
  const host = "' + URI(request.protocol + request.host_with_port).to_s + '";
  fetch(`${host}/packs/manifest.json`)
    .then(response => response.json())
    .then(responseJson => {
      const widget = document.createElement("SCRIPT");
      widget.type = "text/javascript";
      widget.src = responseJson["widget_app.js"];
      me.parentElement.appendChild(widget);
    });
</script>
'
%>
          </pre>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseUploadingBasicForm" aria-expanded="false" aria-controls="collapseTwo">
            Code Sample - basic form
          </button>
        </h5>
      </div>
      <div id="collapseUploadingBasicForm" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <pre>
<%=
'
<form
  action= "' + URI(request.protocol + request.host_with_port).to_s + '/challenges"
  method="post"
  enctype="multipart/form-data"
>
  <input
    name="user_token"
    type="hidden"
    value="' + @jwt + '"
  />
  <div>
    <label>Title</label
    ><input name="challenge[title]" type="text" />
  </div>
  <div>
    <label>Description</label
    ><input name="challenge[description]" type="text" />
  </div>
  <div>
    <label>Test case</label
    ><input name="challenge[test_case]" type="file" />
  </div>
  <button>upload</button>
</form>
'
%>
          </pre>
        </div>
      </div>
    </div>
  </div>
</section>

<hr />

<section>
  <h3><a name="listing-challenges">Listing challenges</a></h3>

  <script type="text/javascript">
    function fetchChallengesBody() {
      return {
        operationName: "Challenges",
        query: `query Challenges {
          challenges {
            id
            title
            description
          }
        }`
      }
    }

    function fetchChallenges(event) {
      const authToken = document.getElementById("auth-token").value;
      const body = fetchChallengesBody();
      const preElement = document.getElementById("challenges-call-result");
      preElement.innerHTML = '...'

      fetchGraphql(authToken, body, preElement);

      event.preventDefault ? event.preventDefault() : event.returnValue = false;
    }
  </script>

  <form>
    <div class="form-group">
      <label>Auth token</label>
      <input
        id="auth-token"
        type="text"
        class="form-control"
        placeholder="auth token from /admin/users"
        value="<%= @jwt %>"
      />
    </div>
    <div>
      <button class="btn btn-primary" onClick="fetchChallenges(event)">
        fetch challenges
      </button>
    </div>
  </form>
  <div>
    <strong>Result</strong>
    <pre id="challenges-call-result">...</pre>
  </div>

  <div id="accordion" class="mt-3">
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseListing" aria-expanded="false" aria-controls="collapseTwo">
            Code Sample
          </button>
        </h5>
      </div>
      <div id="collapseListing" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <pre>
<%=
'
<script type="text/javascript">
  function fetchChallengesBody() {
    return {
      operationName: "Challenges",
      query: `query Challenges {
        challenges {
          id
          title
          description
        }
      }`
    }
  }

  function fetchChallenges(event) {
    const authToken = document.getElementById("auth-token").value;
    const body = fetchChallengesBody();
    const preElement = document.getElementById("challenges-call-result");
    preElement.innerHTML = '...'

    fetchGraphql(authToken, body, preElement);

    event.preventDefault ? event.preventDefault() : event.returnValue = false;
  }
</script>
'
%>
          </pre>
        </div>
      </div>
    </div>
  </div>
</section>

<hr />

<section>
  <h3><a name="listing-details-around-a-challenge">Listing details around a challenge</a></h3>

  <script type="text/javascript">
    function fetchChallengeBody(challengeId) {
      return {
        operationName: "Challenge",
        variables: { id: challengeId },
        query: `query Challenge($id: ID!) {
          challenge(id: $id) {
            id
            title
            description
            metadata {
              readme
              metadata {
                id
                uri
                line
                name
                keyword
                description
                elements {
                  id
                  line
                  name
                  keyword
                  description
                  steps {
                    line
                    name
                    keyword
                    hints
                    helperImages
                  }
                }
              }
            }
            features {
              title
              text
            }
            featureFileUrls {
              filename
              url
            }
            helperImageUrls {
              filename
              url
            }
          }
        }`
      }
    }

    function fetchChallenge(event) {
      const authToken = document.getElementById("auth-token").value;
      const challengeId = document.getElementById("challenge-id").value;
      const body = fetchChallengeBody(challengeId);
      const preElement = document.getElementById("challenge-call-result");
      preElement.innerHTML = '...'

      fetchGraphql(authToken, body, preElement);

      event.preventDefault ? event.preventDefault() : event.returnValue = false;
    }
  </script>

  <form>
    <div class="form-group">
      <label>Challenge ID</label>
      <input
        id="challenge-id"
        type="text"
        class="form-control"
        placeholder="challenge id"
        value="<%= @challenge_id %>"
      />
    </div>
    <div>
      <button class="btn btn-primary" onClick="fetchChallenge(event)">
        fetch challenge
      </button>
    </div>
  </form>
  <div>
    <strong>Result</strong>
    <pre id="challenge-call-result">...</pre>
  </div>

  <div id="accordion" class="mt-3">
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseDetails" aria-expanded="false" aria-controls="collapseTwo">
            Code Sample
          </button>
        </h5>
      </div>
      <div id="collapseDetails" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <pre>
<%=
'
<script type="text/javascript">
  function fetchChallengeBody(challengeId) {
    return {
      operationName: "Challenge",
      variables: { id: challengeId },
      query: `query Challenge($id: ID!) {
        challenge(id: $id) {
          id
          title
          description
          metadata {
            readme
            metadata {
              id
              uri
              line
              name
              keyword
              description
              elements {
                id
                line
                name
                keyword
                description
                steps {
                  line
                  name
                  keyword
                  hints
                  helperImages
                }
              }
            }
          }
          features {
            title
            text
          }
          featureFileUrls {
            filename
            url
          }
          helperImageUrls {
            filename
            url
          }
        }
      }`
    }
  }

  function fetchChallenge(event) {
    const authToken = document.getElementById("auth-token").value;
    const challengeId = document.getElementById("challenge-id").value;
    const body = fetchChallengeBody(challengeId);
    const preElement = document.getElementById("challenge-call-result");
    preElement.innerHTML = '...'

    fetchGraphql(authToken, body, preElement);

    event.preventDefault ? event.preventDefault() : event.returnValue = false;
  }
</script>

<form>
  <div>
    <input
      id="challenge-id"
      type="text"
      placeholder="challenge id"
      value="c8d40015-d6f4-43d0-b4b4-7d4dff795596"
    />
  </div>
  <div>
    <button onClick="fetchChallenge(event)">
      fetch challenge
    </button>
  </div>
</form>
'
%>
          </pre>
        </div>
      </div>
    </div>
  </div>
</section>

<hr />

<section>
  <h3><a name="uploading-a-submission">Uploading a submission</a></h3>

  <div data-widget-type="rcp-UploadSubmission" data-token="<%= @jwt %>"></div>

  <script type="text/javascript">
    const me = document.currentScript;
    const host = "<%= URI(request.protocol + request.host_with_port) %>";
    fetch(`${host}/packs/manifest.json`)
      .then(response => response.json())
      .then(responseJson => {
        const widget = document.createElement("SCRIPT");
        widget.type = "text/javascript";
        widget.src = responseJson["widget_app.js"];
        me.parentElement.appendChild(widget);
      });
  </script>
  <div id="accordion" class="mt-3">
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseUploadSubmission" aria-expanded="false" aria-controls="collapseTwo">
            Code Sample - javascript widget
          </button>
        </h5>
      </div>
      <div id="collapseUploadSubmission" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <pre>
<%=
'
<div data-widget-type="rcp-UploadSubmission" data-token="' + @jwt + '"></div>

<script type="text/javascript">
  const me = document.currentScript;
  const host = "' + URI(request.protocol + request.host_with_port).to_s + '";
  fetch(`${host}/packs/manifest.json`)
    .then(response => response.json())
    .then(responseJson => {
      const widget = document.createElement("SCRIPT");
      widget.type = "text/javascript";
      widget.src = responseJson["widget_app.js"];
      me.parentElement.appendChild(widget);
    });
</script>
'
%>
          </pre>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseUploadSubmissionBasicForm" aria-expanded="false" aria-controls="collapseTwo">
            Code Sample - basic form
          </button>
        </h5>
      </div>
      <div id="collapseUploadSubmissionBasicForm" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <pre>
<%=
'
<form
  action= "' + URI(request.protocol + request.host_with_port).to_s + '/submissions"
  method="post"
  enctype="multipart/form-data"
>
  <input
    name="user_token"
    type="hidden"
    value="' + @jwt + '"
  />
  <div>
    <label>Challenge ID</label
    ><input
      name="submission[challenge_id]"
      type="text"
    />
  </div
  <div>
    <label>External user identifier</label
    ><input
      name="submission[external_user_identifier]"
      type="text"
    />
  </div>
  <div>
    <label>URL</label
    ><input name="submission[url]" type="text" />
  </div
  <div>
    <label>text</label
    ><input name="submission[text]" type="text" />
  </div>
  <div>
    <label>file</label
    ><input name="submission[file]" type="file" />
  </div>
  <button>submit</button>
</form>
'
%>
          </pre>
        </div>
      </div>
    </div>
  </div>
</section>

<hr />

<section style="min-height: 100vh">
<h3><a name="running-a-submission-against-a-challenge">Running a submission against a challenge</a></h3>
</section>
</div>
</div>
</div>